/*=================== Conditions ====================*/
.conditions-banner {
    width: 100%;
    background: url(../img/conditions-bg.jpg), linear-gradient(to right, var(--bg-color) 50%, var(--accent-color) 50% );
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: center center;
}
.conditions-banner_wrapper {
    width: 100%;
    height: 730px;
    padding: 353px 0 123px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:36px;
}

.conditions-banner_wrapper h1 {
    text-align: center;
}

.conditions-banner_text {
    font-size: 24px;
    color: white;
    font-weight: 200;
    width: 898px;
    text-align: center;
}

/*=================== Conditions ====================*/
/*=================== Conditions Text ====================*/

.conditions-text {
    width: 100%;
}

.conditions-text > div.fix {
    width: 1200px;
}

.conditions-text_wrapper {
    width: 100%;
    padding: 120px 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
}

.conditions-text_wrapper h2 {
    font-size: 36px;
    line-height: 110%;
    font-weight: 400;
    color: white;
    margin-top: 60px;
}

.conditions-text_wrapper *:first-child {
    margin-top: 0px;
}

.conditions-text_wrapper p {
    font-size: 20px;
    line-height: 130%;
    font-weight: 200;
    color: white;
    margin-top: 20px;
}

/*=================== Conditions Text ====================*/