@media (max-width: 1800px){
    .fix {
        width: 100%;
    }
}

@media (max-width: 1200px){
    .conditions-banner_wrapper {
        height: auto;
        padding-top: 134px;
        padding-bottom: 60px;
    }
    .conditions-banner_text {
        width: 100%;
        font-size: 20px;
    }

    .conditions-text_wrapper {
        padding: 60px 0;
    }

    .conditions-text_wrapper h2 {
        font-size: 28px;
    }

    .conditions-text_wrapper p {
        font-size: 16px;
    }
}