@media (max-width:1800px){
    .hero-section_box {
        height: 450px;
    }

    .hero-section_grid {
        bottom: -250px;
    }
}

@media (max-width:1620px){}

@media (min-width: 1200px) {}

@media (max-width:1340px){
    .gaming-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 30px;
        padding: 16px;
    }

    .gaming-box:nth-child(2n) .gaming-box_content {
        order: 1;
    }

    .gaming-box_img {
        height: 350px;
    }

    .gaming-box_content {
        width: 100%;
    }

    .gaming-box_img {
        width: 100%;
    }

    .gaming-box_content .font-title {
        font-size: 42px;
    }

    .gaming-box_content-text {
        gap: 10px;
        width: 100%;
        font-size: 16px;
    }

    .gaming-box_content {
        gap: 15px;
    }

    .gaming-box_text {
        width: 100%;
    }

    .gaming-box_tags.width-610 {
        width: 100%;
    }

}
@media (max-width:1200px){
    .hero-section_content {
        width: 85%;
    }
}

@media (max-width:1170px){

    .fix {
        padding: 0 10px;
    }

    /*=============== Gaming First Screen ====================*/
    .hero-section {
        width: 100%;
        height: auto;
        background: url(../img/gaming-bg-3x.jpg);
        background-repeat: no-repeat;
        background-size:100% auto;
        background-position: center center;
    }

    .hero-section_wrapper {
        padding-top: 34vw;
        padding-bottom: 146vw;
    }

    .hero-section_grid {
        bottom: 0px;
        top: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .gaming-grid {
        margin-top: -60px;
    }

    .hero-section_box {
        height: auto;
        padding-top: 150px;
    }

    /*=============== Gaming First Screen ====================*/
}

@media (max-width:991px){}

@media (max-width:768px){

    .hero-section_content h1 {
        font-size: 42px;
    }

    .hero-section_text {
        font-size: 20px;
    }

    .gaming-tag {
        width: 30%;
    }

    .hero-section {
        background-size:100% auto;
    }


}

@media (max-width:600px){
    .gaming-tag {
        width: 48%;
    }
}

@media (max-width:460px){
    .hero-section {
        background-size:auto 110%;
    }
    .hero-section_content {
        width: 100%;
    }
}

@media (max-width:390px){

    .hero-section_text {
        font-size: 14px;
    }

    .hero-section_content h1 {
        font-size: 32px;
    }
}

@media (max-width:360px){
    .gaming-tag {
        width: 100%;
    }
}