/*===================== Hero Sections =======================*/

.hero-section {
    width: 100%;
    background: url(../img/gaming-hero-bg.jpg), linear-gradient(to right, var(--bg-color) 50%, var(--accent-color) 50% );
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: center center;
}

.hero-section_wrapper {
    width: 100%;
    padding-top: 353px;
    padding-bottom: 353px;
    position: relative;
}

.hero-section_block_circle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    z-index: 0;
    display: block;
    box-shadow: inset 0 -1px 10px 0 rgba(255,255,255,0.25);
    background: url(../img/check.svg) no-repeat;
    background-position: center center;
    background-size: 19px 15px;
}

.hero-section_block_circle:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    opacity: 0.03;
    filter: blur(10px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero-section_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 36px;
    width: 840px;
}

.hero-section_content h1 {
    color: white;
    font-size: 78px;
    font-weight: 400;
}

.hero-section_text {
    font-size: 24px;
    font-weight: 200;
    color: white;
}

.hero-section_grid {
    /*position: absolute;*/
    /*top: -180px;*/
    /*left: 0;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    flex: 1;
}

.hero-section_box {
    height: 360px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    z-index: 0;
}

.hero-section_box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 100%), rgba(0,0,0,0.1);
    backdrop-filter: blur(100px);
    z-index: -1;
}

/*.hero-section_box-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-end;*/
/*    align-items: flex-start;*/
/*}*/

.gaming-grid {
    width: 100%;
    margin-top: -180px;
}

.gaming-grid_wrapper {
    width: 100%;
}

/*===================== Hero Sections =======================*/
/*===================== Gaming =======================*/

.gaming {
    width: 100%;
}

.gaming-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 20px;
}

.gaming-box {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.gaming-box_content {
    width: 794px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.gaming-box:nth-child(2n) {
    gap: 29px;
    justify-content: flex-start;
}

.gaming-box:nth-child(2n) .gaming-box_content {
    order: 2;
}

.gaming-box:nth-child(2n) .gaming-box_img {
    order: 1;
}


.gaming-box_img {
    width: 823px;
    height: 479px;
    position:relative;
    overflow: hidden;
}

.gaming-box_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gaming-box_content-text {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.gaming-box_text {
    width: 704px;
}

.gaming-box_tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
    width: auto;
}

.gaming-box_tags.width-610 {
    width: 610px;
}

.gaming-tag {
    width: 145px;
    height: 54px;
    border-radius: 100px;
    backdrop-filter: blur(60px);
    background: rgba(255,255,255,0.03);
    box-shadow: inset 0 -1px 10px 0 rgba(255,255,255,0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.gaming-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: white;
}

/*===================== Gaming =======================*/