:root {
    --bg-color: #1B120C;
    --bg-grey: #D9D9D9;
    --accent-color: #E48011;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lupio', sans-serif;
    font-weight: 400;
}

html,
body {
    width: 100%;
    height: auto;
    padding: 0 0;
    margin: 0 0;
    background: var(--bg-color);
}

body {
    overflow-x: hidden;
}

.fix {
    width: 1740px;
    margin: 0 auto;
}


/* Accent Button*/
.accent-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    text-decoration: none;
    min-width: 316px;
}

.accent-btn .text {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    background: var(--accent-color);
    border-radius: 100px;
    transition: all .2s ease-in-out;
    text-align: left;
    flex-grow: 1;
}

.accent-btn .icon {
    margin-left: 2px;
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    border-radius: 100px;
    transition: all .2s ease-in-out;
}

.accent-btn .icon path {
    transition: all .2s ease-in-out;
}

.accent-btn:hover .text,
.accent-btn:hover .icon {
    cursor: pointer;
    background: white;
    color: var(--accent-color);
}

.accent-btn:hover .icon path {
    stroke: var(--accent-color);
}

/* Shadow Border */
.sh-border {
    box-shadow: -1px -1px 1px 0px rgba(255, 255, 255, 0.25);
}

.sh-border.sh-bottom {
    box-shadow: -1px 1px 1px 0px rgba(255, 255, 255, 0.25);
}

/* Bg Gradient Blur */
.bg-gradient {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 100%), rgba(0,0,0,0.1);
}

/* Border Radius */
.border-radius-s {
    border-radius: 20px;
}

/* Font Size */
h1 {
    font-size: 78px;
    font-weight: 400;
    color: white;
}
.font-title {
    font-size: 58px;
    line-height: 110%;
    color: white;
    font-weight: 400;
}
.font-heading {
    font-size: 36px;
    line-height: 110%;
    color: white;
    font-weight: 400;
}
.font-text {
    font-size: 20px;
    font-weight: 200;
    color: white;
    line-height: 130%;
}
/*====================== Content ======================*/

/*====================== Header =======================*/
header {
    position: absolute;
    top: 48px;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    z-index: 100;
    /*background: rgba(0,255,0,0.1);*/
}

.header-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    width: 207px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-menu_wrapper {
    margin-left: 417px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-menu_wrapper > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px 5px;
    border: rgba(255,255,255,0.5) solid 1px;
    border-radius: 100px;
    height: 100%;
}

.header-menu_wrapper > ul > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-menu_wrapper > ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    transition: all .2s ease-in-out;
    border-radius: 100px;
}

.header-menu_wrapper > ul > li > a.current {
    background: white;
    color: black;
}

.header-menu_wrapper > ul > li > a:hover {
    background: white;
    color: black;
}

.header-menu_burger,
.header-menu_close,
.header-logo_mobile,
.header-menu_mobile {
    display: none;
}

/*====================== Header =======================*/

/*====================== footer =======================*/
footer {
    width: 100%;
    padding: 60px 0;
    background: linear-gradient(160deg, var(--bg-color) 31%, var(--accent-color) 100%);
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;
}

.footer-top {
    flex: 1 1 45%;
    width: 100%;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.footer-address {
    color: white;
    opacity: 50%;
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
    max-width: 600px;
    width: auto;
}

.footer-logo {
    max-width: 600px;
    width: auto;
}

.footer-email {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
    min-width: 900px;
    width: auto;
    margin-top: 20px;
}

.footer-email_sign {
    font-size: 20px;
    font-weight: 200;
    line-height: 130%;
}

.footer-email_is {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
}

.footer-bottom {
    width: 100%;
}

.footer-copyright {
    opacity: 50%;
    color: white;
    font-weight: 200;
    font-size: 20px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-menu_link {
    font-size: 20px;
    color: white;
    font-weight: 200;
    text-decoration:none;
    transition: all .2s ease-in-out;
    margin-top: 50px;
}

.footer-menu_link:hover {
    cursor:pointer;
    text-decoration: underline;
}

/*====================== footer =======================*/

/*====================== Popup =======================*/
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container {
    position: relative;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    transform: scale(0.9);
    opacity: 0;
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.popup-close {
    position: absolute;
    top: 31px;
    right: 31px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.popup-close span {
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
}

.popup-close span:before,
.popup-close span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    transform-origin: 50% 50%;
    top: 50%;
}

.popup-close span:before {
    transform: rotate(45deg);
}
.popup-close span:after {
    transform: rotate(-45deg);
}

.popup-close:hover  {
    opacity: 50%;
}

.popup-close:hover {
    color: #000;
}

.popup-overlay.show {
    display: flex;
}

.show .popup-container {
    transform: scale(1);
    opacity: 1;
}

.popup-content {
    gap: 30px;
}

.popup-content h2 {
    font-size: 36px;
    font-weight: 400;
    color: white;
    text-align: center;
}

#popup-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.popup-input_wrapper {
    width: calc(50% - 10px);
}

.popup-input {
    width: 100%;
    height: 46px;
    background: rgba(255,255,255,0.03);
    border: none;
    border-radius: 10px;
    padding: 13px 12px;
    backdrop-filter: blur(60px);
    box-shadow: inset 0 -1px 10px 0 rgba(255,255,255,0.25);
    color: white;
}

.popup-input::placeholder {
    color: white;
    font-size: 16px;
    line-height: 90%;
    font-weight: 200;
    opacity: 0.5;
}

.popup-input:active,
.popup-input:focus {
    outline: none;
}

.popup-textarea_wrapper {
    width: 100%;
    height: 94px;
}

.popup-textarea_wrapper textarea {
    height: 100%;
}

.popup-form_btn {
    background: none;
    border: none;
    color: transparent;
    margin: 0 auto;
    margin-top: 10px;
    min-width: 238px;
}

.popup-form_btn .text {
    max-width: 180px;
    text-align: center;
    justify-content: center;
    line-height: 130%;
    padding: 15px 30px 12px 30px;
}

.popup-container.popup-success {
    padding: 72px 30px;
}

.popup-text {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 200;
}

.btn-close-success {
    border-radius: 100px;
    background: var(--accent-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 13px 70px 11px 70px;
    margin: 0 auto;
    margin-top: 30px;
    transition: all .2s ease-in-out;
}

.btn-close-success:hover {
    cursor: pointer;
    background: white;
    color: var(--accent-color)
}

/*====================== Popup =======================*/